// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// @import 'partials.fullcalendar-custom';


* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh ;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgba($color: #f4c2c2, $alpha: 0.7);
    color:black;
    z-index: 99;
   
    position: relative;
    
}
main{
    
    flex-grow: 1;
  
    .cerchioTrattamento{
      
        width: 300px;
        
        .cerchioImg{
            border-radius: 50%;
              height: 300px;
            width: 300px;
            overflow: hidden;
            margin-bottom: 20px;
            img{
                width: 110%;
                transition: all 3s;
            }
            &:hover img{
                
                    width: 100%;
                
            }
        }

    }

    .quadratoTrattamento{
      
        
        
        
        .quadratoImg{
            border-radius: 10px;
            height: 180px;
            overflow: hidden;
            margin-bottom: 20px;
            max-width: 100%;
        

            img{
                width: 120%;
                
            }     
        }

    }
    
}


footer{
    background-color: rgba($color: #f4c2c2, $alpha: 0.7);
    height: 60px;
    opacity: 0.65;
   
    
}

// PAAGINA PROFILO - ADMIN

.bloccoAdmin {

    margin-bottom: 25px;

    .bloccoAdminInterno {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid pink;
        border-radius: 10px;

        .bloccoAdminInternoPrimoP {
            font-family: 'Great vibes';
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }
}
