@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 150px;
  color: black;
  z-index: 99;
  margin-bottom: 69px;
}

header .navbar {
  background-color: rgba(238, 161, 238, 0.7);
}

header .logoMobile {
  display: none;
}

main {
  margin-top: 2.6rem !important;
  background-color: white;
  flex-grow: 1;
}

main .flex {
  display: flex;
  align-items: center;
}

main .flex i .fas,
main .flex i .far {
  height: 30px;
  width: auto;
}

main .bootCarousTop {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  right: 0;
}

main .bootCarousTop a {
  height: 100px;
  width: 100%;
}

main .bootCarousTop img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

main .bootCarousTop .bloccoBiancoJambo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 39%;
  left: 20%;
  height: 200px;
  width: 300px;
  z-index: 20;
  color: black;
  border: 1px solid grey;
  background-color: rgba(248, 248, 248, 0.7);
  padding: 15px;
  border-radius: 10px;
  outline: 1px dashed #fff;
  outline-offset: -10px;
}

main .bootCarousTop .bloccoBiancoJambo .descrizioneTitoloBianco {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

main .bootCarousTop h2 {
  font-family: "Great vibes";
  font-size: 40px;
}

main .bootCarousTop h2,
main .bootCarousTop h5 {
  line-height: 1.6;
}

main .cerchioTrattamento {
  width: 300px;
}

main .cerchioTrattamento .cerchioImg {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

main .cerchioTrattamento .cerchioImg img {
  width: 110%;
  transition: all 3s;
}

main .cerchioTrattamento .cerchioImg:hover img {
  width: 100%;
}

main #instafeed-container {
  width: 100%;
  height: 400px;
}

main #instafeed-container a {
  border-radius: 40px;
}

main #instafeed-container a img {
  justify-content: center;
  flex-direction: row;
}

main .quadratoTrattamento .quadratoImg {
  border-radius: 10px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 100%;
}

main .quadratoTrattamento .quadratoImg img {
  width: 120%;
}

footer {
  background-color: rgba(238, 161, 238, 0.5);
  height: 80px;
  opacity: 0.65;
}

@media (min-width: 768px) and (max-width: 991px) {
  #containerPerInstagramConflittoSliderBootstrapInAlto {
    /* Show 4th slide on md if col-md-4*/
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #containerPerInstagramConflittoSliderBootstrapInAlto {
    /* Show 3rd slide on sm if col-sm-6*/
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) {
  #containerPerInstagramConflittoSliderBootstrapInAlto {
    /* show 2 items */
    /* left or forward direction */
    /* farthest right hidden item must be also positioned for animations */
    /* right or prev direction */
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item {
    margin-right: 0;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .active + .carousel-item {
    display: block;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-next.carousel-item-left + .carousel-item,
  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-prev.carousel-item-right + .carousel-item,
  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* MD */

@media (min-width: 768px) {
  #containerPerInstagramConflittoSliderBootstrapInAlto {
    /* show 3rd of 3 item slide */
    /* left or forward direction */
    /* right or prev direction */
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* LG */

@media (min-width: 991px) {
  #containerPerInstagramConflittoSliderBootstrapInAlto {
    /* show 4th item */
    /* Show 5th slide on lg if col-lg-3 */
    /* left or forward direction */
    /* right or prev direction //t - previous slide direction last item animation fix */
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  #containerPerInstagramConflittoSliderBootstrapInAlto .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.bloccoAdmin {
  margin-bottom: 25px;
}

.bloccoAdmin .bloccoAdminInterno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid pink;
  border-radius: 10px;
}

.bloccoAdmin .bloccoAdminInterno .bloccoAdminInternoPrimoP {
  font-family: "Great vibes";
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.showTitolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  font-family: "great vibes";
  font-size: 40px;
  color: white;
  z-index: 99;
  font-size: 60px;
}

.perFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.perFlex i,
.perFlex span,
.perFlex p {
  font-size: 20px;
}

.fc-day-today {
  background: rgba(243, 176, 245, 0.2) !important;
}

.button {
  background-color: rgba(238, 161, 238, 0.8);
  outline-color: #eea1ee;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid rgba(238, 161, 238, 0.8);
  outline-color: #eea1ee;
}

.button:focus {
  outline: none;
}

.button1:hover {
  background-color: rgba(238, 161, 238, 0.8);
  color: white;
}

.contenitoreRecensioni {
  border: 1px solid #eea1ee;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea[type=text],
select {
  text-align: center;
  border: 1px solid #eea1ee;
  border-radius: 4px;
  padding: 2px 0;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea[type=text]:focus {
  border: 2px solid #eea1ee !important;
  outline-color: #eea1ee;
}

select:focus {
  outline: none;
}

.lineHeight {
  line-height: 28px;
}

.lineHeight div {
  margin-bottom: 12px;
}

.bloccoAdminImg {
  position: relative;
  overflow: hidden;
  height: 300px;
  border-radius: 100%;
  margin: 5%;
}

.bloccoAdminImg img {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contenitoreImg {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 350px;
  border-radius: 100%;
  margin-left: 75px;
}

.contenitoreImg img {
  height: 100%;
  width: auto;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mappa {
  width: 100%;
}

.mappa iframe {
  overflow: hidden;
}

.contattiInfo {
  text-align: none;
  padding-left: 60px;
}

.bottoneContact {
  margin-left: 150px;
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  width: 25%;
  margin-top: -3%;
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  main {
    margin-top: 0rem !important;
  }

  header {
    color: black;
    z-index: 99;
    margin-bottom: 53px;
  }

  header .navbar {
    background-color: rgba(238, 161, 238, 0.7);
  }

  header .scritteMenu {
    text-align: center;
    padding-top: 20px;
  }

  .container-fluid {
    height: auto;
  }

  #carouselExampleControls {
    position: relative;
    top: 0;
    left: 0;
  }

  .bootCarousTop a img {
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    transform: none;
  }

  main .bootCarousTop .bloccoBiancoJambo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    z-index: 20;
    color: black;
    border: 1px solid grey;
    background-color: rgba(248, 248, 248, 0.5);
    padding: 15px;
    border-radius: 10px;
    outline: 1px dashed #fff;
    outline-offset: -10px;
  }

  .cerchioTrattamento {
    width: 300px;
  }

  .cerchioTrattamento .cerchioImg {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 20px 0;
  }

  .cerchioTrattamento .cerchioImg img {
    width: 110%;
    transition: all 3s;
  }

  .cerchioTrattamento .cerchioImg:hover img {
    width: 100%;
  }

  .contenitoreImg {
    margin-left: 0;
  }

  .bottoneContact {
    margin-left: 0;
  }

  .showTitolo {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-family: "great vibes";
    font-size: 40px;
    color: white;
    font-size: 24px;
    z-index: 99;
  }

  .showTarttamentoFoto {
    display: none;
  }

  .contenitoreRecensioni {
    border: none;
  }

  .contattiInfo {
    text-align: center !important;
    margin-top: 30px;
  }

  .logo {
    display: none;
  }

  .logoMobile {
    display: block !important;
  }

  nav ul .logoMobile {
    margin: 0 40%;
  }

  .opacit {
    opacity: 0.3;
  }
}

